html {
  box-sizing: border-box;
  margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body{
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100vh;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
  background-color: white;
  text-align: center;
}

header {
  position: absolute;
  left: 0;
  right: 0;
}

/* Navbar */

nav {
  padding: 8px;
  font-family: 'KoHo', sans-serif;
}

.logo{
	float: left;
	padding: 8px 0;
	margin-left: 70px;
  margin-top: 8px;
  max-width: 50px;
}

.logo a {
	color: #2c2c2c;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 18px;
	letter-spacing: 0;
  text-decoration: none;
}

.hidden{
	display: none;
}

nav ul{
	float: right;
}

nav ul li{
	display: inline-block;
	float: left;
}

nav ul li:not(:first-child) {
	margin-left: 48px;
}

nav ul li:last-child {
	margin-right: 70px;
}

nav ul li a {
	/*This makes LI and the A tag the same dimensions*/
	display: inline-block;
	outline: none;
	color: #2c2c2c;
	text-decoration: none;
	font-size: 14px;
	letter-spacing:  1.2px;
  font-weight: 600;
  text-transform: uppercase;
}

nav ul li a:hover {
  color: #c1432e;
}

/* Mobile Nav */

@media screen and (max-width: 864px) {
  .logo {
    padding: 0;
    max-width: 50px;
  }

  .nav-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #f5f5f5;
    opacity: 0;
    transition: all 0.2s ease;
  }

  .nav-wrapper ul {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }

  .nav-wrapper ul li {
    display: block;
    float: none;
    width: 100%;
    text-align: right;
    margin-bottom: 10px;
  }

  .nav-wrapper ul li:nth child(1) a {
    transition-delay: 0.2s;
  }
  
  .nav-wrapper ul li:nth child(2) a {
    transition-delay: 0.3s;
  }

  .nav-wrapper ul li:nth child(3) a {
    transition-delay: 0.4s;
  }

  .nav-wrapper ul li:nth child(4) a {
    transition-delay: 0.5s;
  }

  .nav-wrapper ul li:not(:first-child) {
    margin-left: 0;
  }

  .nav-wrapper ul li a {
    padding: 10px 24px;
    opacity: 0;
    color: #2c2c2c;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1.2px;
    transform: translateX(-20px);
    transition: all 0.2s ease;
  }

  .nav-btn {
    position: fixed;
    right: 10px;
    top: 10px;
    display: block;
    width: 48px;
    height: 48px;
    cursor: pointer;
    z-index: 9999;
    border-radius: 50%;
  }

  .nav-btn i {
    display: block;
    width: 20px;
    height: 2px;
    background: #2c2c2c;
    border-radius: 2px;
    margin-left: 14px;
  }

  .nav-btn i:nth-child(1) {
    margin-top: 16px;
  }
  
  .nav-btn i:nth-child(2) {
    margin-top: 4px;
    opacity: 1;
  }

  .nav-btn i:nth-child(3) {
    margin-top: 4px;
  }
}

/* Animation Nav */
#nav:checked + .nav-btn {
  transform: rotate(45deg);
}

#nav:checked + .nav-btn i {
  background: #2c2c2c;
  transition: transform 0.2s ease;
}

#nav:checked + .nav-btn i:nth-child(1) {
  transform: translateY(6px) rotate(180deg);
}

#nav:checked + .nav-btn i:nth-child(2) {
  opacity: 0;
}

#nav:checked + .nav-btn i:nth-child(3) {
  transform: translateY(-6px) rotate(90deg);
}

#nav:checked ~ .nav-wrapper {
  z-index: 9990;
  opacity: 1
}

#nav:checked ~ .nav-wrapper ul li a {
  opacity: 1;
  transform: translateX(0);
}

.hidden {
  display: none;
}


/* Header */

.main-header-container {
  margin: 2rem 5rem;
}

.left-header-content,
.right-header-content {
  float: left;
  width: 50%;
  height: 300px;
}

.main-header-container:after {
  content: "";
  display: table;
  clear: both;
}

.left-header-content {
  text-align: center;
  padding-right: 2rem;
}

.left-header-content h1 { 
  font-size: 2rem;
  color: #c1432e;
}

.left-header-content span { 
  display: block;
  color: #2c2c2c;
  font-size: 1.6rem;
  font-weight: 400;
}

@media (max-width: 960px) {
  .right-header-content {
    visibility: hidden;
  }

  .left-header-content {
    float: left;
    width: 100%;
    padding: 10px;
    height: 300px;
    text-align: center;
    padding-top: 3rem;
  }
}

/* Typography */

p {
  font-size: 1.5rem;
  margin-top: 0;
}

p:last-of-type {
  margin-bottom: 0;
}

h2 { 
  font-weight: 400;
  font-size: 3rem;
  text-align: center;
}

/* Home Growth */
.home-growth {
  color: #2c2c2c;
}

@media (min-width: 475px) {
  .home-growth {
    height: 100vh;
    padding-top: 15vh;
  }
}

@media (max-width: 474px) {
  .home-growth {
    height: 120vh;
    padding-top: 20vh;
    padding-left: 0;
    padding-right: 0;
  }

  .left-header-content h1 { 
    font-size: 1.8rem;
  }
}

img {
  max-width: 100%;
  height: auto;
}

/* Buttons */
.btn {
  display: inline-block;
  font-size: 1.2rem;
  text-decoration: none;
  text-transform: uppercase;
  border-width: 2px;
  border-style: solid;
  padding: .5em 1.75em;
  color: #c1432e;
}

.btn:hover {
  background: #c1432e;
  border-style: solid;
  border-color: #c1432e;
  color: #f5f5f5;
}

/* About */
.about-container {
  min-height: calc(100vh - 65px);
  padding-top: 1vh;
  background: #D6EAF2;
  border-top: 1px solid #d4e8f0;
  border-bottom: 1px solid #d4e8f0;
  padding-bottom: 60px;
}

#avatar {
  float: left;
}

#title {
  margin-left: auto;
  margin-right: auto;
}

.home-about-textbox {
  color: #2c2c2c;
  margin: 0 80px;
}

.home-about-textbox h2 {
  color: #c1432e;
  font-size: 3rem;
  text-align: center;
}

.home-about-textbox p {
  font-size: 1.2rem;
  text-align: left;
}

.home-about-textbox .devicon {
  font-size: 4rem;
  color: #2c2c2c;
}

.home-about-textbox .icons {
  text-align: center;
}

/* Cards */
.my-projects h2 {
  color: #c1432e;
  font-size: 3rem;
  padding-bottom: 1rem;
}

.project-card {
  background-color: #f5f5f5;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: auto auto 2rem auto;
  max-width: 50em;
  text-align: center;
}

.project-card .btn {
  background-color: #2e2e2e;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1.1em;
  outline: 0;
  padding: 0.8em;
  text-align: center;
  width: 100%;
}

.project-card .btn:hover {
  opacity: 0.8;
}

a {
  color: #f5f5f5;
  font-size: 1.1rem;
  text-decoration: none;
}

/* Contact */
.contact {
  background-color: #D6EAF2;
  color: #2c2c2c;
  padding-top: 1em;
  padding-bottom: 2em;
  clear: left;
}

.contact h2 { 
  font-size: 3rem;
}

.contact p {
  font-size: 1em;
}

#resume {
  font-size: 1em;
  color: blue;
}

/* Start Contact Form */
/* input[type=text], input[type=email], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #c1432e;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #b4412c;
}

.contact-container {
  background-color: #D6EAF2;
  margin: 0 58px;
}

.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
  font-size: 1.5rem;
}

.row:after {
  content: "";
  display: table;
  clear: both;
} */
/* End Contact Form */

.findme {
  background-color: #D6EAF2;
  color: #2c2c2c;
  padding-top: 2em;
  padding-bottom: 5em;
}

.findme p {
  font-size: 1.1rem;
}

.findme h2 { 
  font-size: 3rem;
}

@media (min-width: 320px) {

  .home-about-textbox h2 {
    text-align: center;
  }
  
  #avatar {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }

  .home-about-textbox p {
    font-size: 1rem;
  }

}

@media (min-width: 768px) {

  .home-about-textbox {
    text-align: left;
  }

  #avatar {
    float: left;
  }

  .home-about-textbox p {
    font-size: 1.2rem;
  }
}